{% extends "pageBase.twig" %}
{% block title %}Start page{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="colorStyles.css">
	<link rel="stylesheet" type="text/css" href="styles/login.css">
{% endblock %}
{# 
	action="{{ path('login') }}"
	
  {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}
 #}


{% block body %}
    <form class="login_form bold-blue-border"  method="post">

        <div class="text_boxs">
            <input class="text_box_login text-field-style"
                   placeholder="login"
                   type="text"
                   id="username"
                   name="_username" value="{{ last_username }}" />

            <input class="text_box_password text-field-style"
                   placeholder="password"
                   type="password"
                   id="password"
                   name="_password" />
        </div>
        <div class="buttons">
            <button type="submit" class="log_in button-style">Sign in</button>
            <button type="submit" class="log_in button-style">Register</button>
        </div>
    </form>
{% endblock %}
