body
{
    background-color: white;
}

.lateral-element
{
    background-color: white;
}

.central-element
{
    background-color: white;
    color: black;
}

.bold-blue-border
{
    border: 2px solid #4b507f;
}

.blue-border
{
    border: 1px solid #4b507f;
}

.blue-text
{
    color: #4b507f;
}

.button-style
{
    background: linear-gradient(to top, #004680, #5FA9FC);
    color: white;
    margin-right: 0px;
    cursor: pointer;

    font-size: 15px;
    font-family: Arial;
    font-weight: bold;

    border: 1px solid transparent;
    border-color: rgba(0,0,0,.27);

    border-radius: 3px 3px 3px 3px;

}

.button-style :active
{
    box-shadow:
            0 0 6px 2px rgba(75, 80, 127, 0.7),
            0 1px 0 rgba(255,255,255,.2),
            inset 0 1px 1px rgba(0,0,0,.1);
}
.button-style :focus
{
    outline-color: rgba(178, 210, 255, 0.7);
    outline-width: 5px;

    box-shadow:
            0 0 6px 2px rgba(178, 210, 255, 0.7),
            0 1px 0 rgba(255,255,255,.2),
            inset 0 1px 1px rgba(0,0,0,.1);
}

.text-field-style
{
    border: 1px solid transparent;
    border-color: rgba(0,0,0,.27);
    border-top-color: rgba(0,0,0,.38);
    border-bottom-color: rgba(0,0,0,.16);

    font-size: 15px;
    font-family: Arial;

    background-clip: padding-box;
}