.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

/* The Close Button */
.closess {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closess:hover,
.closess:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.send-application-notification__notification-container
{
    background-color: white;
    width: 270px;
    height: 85px;;
    margin: 0px auto;

}

.send-application-notification__button-layer
{
    height: 60%;
    position: relative;
}

.send-application-notification__ok-btn
{
    position: absolute;
    bottom: 5px;
    left: 115px;
}

